.ping {
  text-align: center;
  font-style: italic;
  color: white;
}

.pong {
  text-align: right;
  color: white;
}

.ping-pong {
  background-color: purple;
  background-image: url(/home/angela/Documents/ping-pong/img/ping5.jpg);
  padding-bottom: 130px;
  margin-bottom: 0px;
}

.description {
  text-align: center;
  padding: 10px;
  margin-bottom: 0px;
  background-color: #660066;
  color: black;
}
p {
  font-size: 12px;
}
.rules {
  background-color: purple;
  background-color: #660066;
  color: black;
  padding: 10px;
  font-size: 15px;
}
.desc {
  text-align: justify;
  font-size: 15px;
}
